.DS_Store
.idea/
dist/
logs/
node_modules/
packages/keystone/config.ts
packages/next/.next/
packages/keystone/.keystone/
yarn-error.log
*.js
*.d.ts
!packages/next/polyfills.js
!packages/next/next.config.js
!packages/next/next-env.d.ts
!types/keystone.d.ts
!packages/keystone/templates/contact-me.template.js
!packages/keystone/templates/notification.template.js
