@import (reference) "../styles/mixins";
@import (reference) "../styles/variables";

.cards {
  margin-bottom: 32px;
}

.grid_title {
  padding: 0 4rem;
  font-weight: 700;
  font-size: 24px;

  .media(@tablet, padding-left, 2rem);
  .media(@tablet, padding-right, 2rem);
}

.grids {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 32px;
  margin-top: 32px;
  padding: 0 4rem;

  .media(@desktop, grid-template-columns, 1fr 1fr 1fr);
  .media(@tablet, grid-template-columns, 1fr 1fr);
  .media(@phone, grid-template-columns, 1fr);
  .media(@tablet, padding-left, 2rem);
  .media(@tablet, padding-right, 2rem);
}

.card {
  display: grid;
  background-color: white;
  border-radius: 9px;
  border: 1px solid @border-color;
  box-shadow: 0 0 30px @shadow-color;
  overflow: hidden;
  line-height: 1.5;
  position: relative;

  &:hover .link {
    color: @primary-color;
  }

  > a {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 0;
  }

  > a img {
    max-width: 100%;
    display: block;
  }

  > header {
    margin-left: 100px;
    height: 100px;
    padding: 10px 20px;
    overflow: hidden;
  }

  > h2:first-child {
    margin: 0 0 0.5rem 0;
  }

  .title {
    color: black;
    font-size: 2rem;
    margin-bottom: 0.3rem;
  }

  .meta {
    font-weight: 100;
    margin-bottom: 0;
    height: 50px;
    overflow: hidden;
  }

  .link {
    text-decoration: none;
  }
}
